<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="taskemployee.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body class="contb ">
    <div class=" conts text-center ml-3 mr-3 col-12 col-lg-6">
    <center>
    <p>Task status<i class="fa-solid fa-plus ml-2"></i></a></p>
    <form method="POST" ">
            <div class="modal-body">
              <div class="form-group ">
                <label for="exampleFormControlSelect1">Select</label>
                <select class="form-control" id="exampleFormControlSelect1" name="option">
                <option>At to start</option>
                 <option>Working</option>
                 <option>Modifications</option>
                 <option>Completed</option>
                </select>
              </div>
            </div>
        <div class="mb-2 mt-2">
            <textarea class="form-control mt-3" rows="3" id="comment" name="text" placeholder="Submit task in doc form"></textarea>                            
        </div>
        <button>Ok</button>
    </form>
   </div>
</div>
</div>
</div>
</div>
</div>
</center>
</div>
<script src="http s://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>